OriginStudio/Connected Services/LookupService/LookupService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OriginStudio.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OriginStudio.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOR_Lookup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OR_Lookup" nillable="true" type="tns:OR_Lookup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOR_Lookup" nillable="true" type="tns:ArrayOfOR_Lookup" />
  <xs:complexType name="OR_Lookup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OR_Lookup" nillable="true" type="tns:OR_Lookup" />
  <xs:complexType name="ArrayOfOR_LookupValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OR_LookupValue" nillable="true" type="tns:OR_LookupValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOR_LookupValue" nillable="true" type="tns:ArrayOfOR_LookupValue" />
  <xs:complexType name="OR_LookupValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OriginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedOriginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OR_LookupValue" nillable="true" type="tns:OR_LookupValue" />
</xs:schema>